* {
    margin: 0;
}



#overlay{ /*Sort baggrundsfarve/overlay med 0.5 transperens - Fungerer over billedet i rigtig kodning*/
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 0;
    top: 0;
       
}

h1, h2, h4, p{
    font-family: 'roboto', sans-serif;
}




/*--------------------------------DROPDOWN FEATURE-------------------------------*/

.dropdown{
    position: relative;
    z-index: 2;
    margin-top: 10%;
}


.dropdown h1{
    margin-bottom: 4%;
    text-align: center;
    color: white;
}

.dropdown h4{
    font-size: 1.5rem;
    margin-top: 5%;
}

.dropdown h4 p{
    margin-bottom: 3%;
    font-size: 0.8rem;

}

.drikindhold, .olindhold, .menuindhold,.julindhold{
  color: white;
  display: none;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  gap: 5%;
  flex-wrap: wrap;
}

.drik{
    flex: 1 1 45%;
    width: 50%;
    line-height: 2rem;
    padding-bottom: 5%;
}  

                                            
.linje {
    display: flex;
    align-items: baseline;
}

.navn{
    font-size: 1.3rem;
}

.lilletekst{
    font-size: 0.9rem;
}

.dots {
    flex: 1;                                
    border-bottom: 2px dotted #bba14f;
    margin: 0 8px;
}
                                            

.drik h2{
    font-family: 'roboto', sans-serif;
    margin: 5% 0;
}

.drikindhold.show, .olindhold.show, .menuindhold.show, .julindhold.show{
  display: flex;
  
}

button{
  border-top: #bba14f solid 2px;
  border-bottom: #bba14f solid 2px;
  width: 40%;
  margin: auto;
  padding: 1% 0% 0.5% 0%;
  text-align: center;
  justify-content: center;
  margin-bottom: 2%;
  display: flex;
  gap: 4%;
  color: white;
  font-weight: 300;
  font-size: 2rem;
  cursor: pointer;

  /*Generelle regler for <button> i HTML*/
  background-color: transparent;
  border-left: none;
  border-right: none;
}


/*Pil transition*/
.dropbtn img{
  transition: transform 0.3s ease;
}

.dropbtn.active img {
  transform: rotate(180deg);
}


@media screen and (max-width: 600px) {

    .dropdown h1{
        margin-top: 30%;
    }

    .dropbtn{
        width: 80%;
        margin: 5% auto;

    }

    .drikindhold, .olindhold, .menuindhold, .julindhold{
        display: none;
    }

    .drik{
        margin-bottom: 10%;
        width: 100%;
        margin: 10% auto;
    }

    .drikindhold.show, .olindhold.show, .menuindhold.show,.julindhold.show {
        display: block;
    }

}